:root {
  // Colors
  --color-primary: #c39b32;
  --color-surface-light: #ffffff;
  --color-error: #ff3c00;
  --color-border: #d1d1d1;
  --background-color: #fdfdfa;
  --paragraph-color: #010a14b2;
  --title-color: #010a14;
}
